html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 85%;
    margin: auto;
}


/* NAVIGATION */

#navigation {
    opacity: 0;
}

#menu a {
    display: block;
    color: #47D6F4;
    text-decoration: none;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: #55008d;
    font-weight: 600;
}

#menuToggle {
    display: block;
    position: fixed;
    top: 40px;
    z-index: 5;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: 90vw;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    left: 90vw;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked~body{
    overflow: hidden;
}



#menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    margin: -69px 0 0 -17px;
    padding: 50px;
    padding-top: 125px;
    text-align: center;
    background: #8080806b;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 50px;
}

#menuToggle input:checked~ul {
    transform: none;
}

.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 100%;
    position: fixed;
    background: white;
    z-index: 2;
}
.slideshow{
    padding-top: 105px;
}
.navIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

.navItem {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    border-left: dotted 1px;
    padding-left: 13px;
}

.navItem:last-child {
    margin-right: 10px;
}

.navItem a:hover {
    color: #2600cf
}

.navItem a {
    color: rgb(104, 104, 104);
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;

}

.navItem span {
    color: rgb(145, 145, 145);
    font-size: 14px;
    font-family: sans-serif;
}

/* SECTION 1 */
.slideshow {
    background: linear-gradient(to bottom, #000000 0%, #424242 100%);
    z-index: -1;

}

.slideShowImage {
    background-image: url(image/Layer5.jpg);
    background-size: 155%;
    background-position: center;
    height: 450px;
    width: 100%;
    border-radius: 15px;
    top: 30px;
    position: relative;
    border: 1px solid #c6c6c6;
    display: flex;
    align-items: flex-end;
    box-shadow: 1px 11px 15px -7px rgba(0, 0, 0, 0.87);
}

.slideIcon {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #000;
    margin-left: 7px;
}

.slideIcon:hover {
    background-color: aqua
}

.active {
    background-color: aqua
}

.active:hover {
    background-color: rgb(255, 255, 255)
}

.slideShowIcons {
    display: flex;
    margin: 0 0 10px 40px;
}

/* SECTION 2 */

.aboutProducts {
    margin-bottom: 100px;
    /*jnjvox*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    border-bottom: solid 1px #a0a0a0;
    padding-bottom: 20px;
    box-shadow: 0px 7px 5px -7px rgb(0 0 0 / 51%);
}

.productTitle {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 50px;
    border-bottom: solid 1px #a0a0a0;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0px 7px 5px -7px rgb(0 0 0 / 51%);
}

.aboutProductsBlok .productsBlokTitle h2 {
    color: #2a8bda;
    font-family: sans-serif;
}

.aboutProductsBlok .productsBlokTitle p {
    color: #a0a0a0;
    font-size: 20px
}

.productPicture {
    height: 200px;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    border: 5px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: -1px 0px 8px 2px rgba(0, 0, 0, 0.44);
}

.aboutProductPicture1 {
    background-image: url(image/Layer19.jpg);
    background-position: right;
}

.aboutProductPicture2 {
    background-image: url(image/Layer17.jpg);
    background-position: center;
}

.aboutProductPicture3 {
    background-image: url(image/Layer15.jpg);
    background-position: center;
}

.aboutProductsBlok {
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.productButton {
    width: 200px;
    height: 30px;
    border: 1px solid #dbdada;
    margin-bottom: 30px;
    background: linear-gradient(to right, #E8E8E8 0%, #F6F6F6 37%, #E8E8E8 100%);

}

.productButton:hover {
    background: linear-gradient(to right, #F6F6F6 0%, #E8E8E8 37%, #F6F6F6 100%);

}

.productButton span {
    color: #2a8bda;
    text-align: left;
    padding-right: 70px;
}

.productButton:hover span {
    color: rgb(25, 76, 241);
}

.productText p {
    font-family: sans-serif;
    font-size: 17px;
    color: #a0a0a0;

}

/* SECTION 3  */
.contactUs {
    display: flex;
    justify-content: space-between;
}

.SocialConnectionText h2 {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px dotted #b8b8b8;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.SocialConnectionText p {
    font-family: sans-serif;
    font-size: 17px;
    color: #a0a0a0;
    margin-bottom: 10px;

}

.SocialConnectionIcons {
    margin-bottom: 30px;

}

.contactUsBloks {
    width: 32%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SocialConnectionInput {
    width: 90%;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #a0a0a0;
    margin-bottom: 20px;
}

.contactUsButton {
    text-decoration: none;
    padding: 8px 50px;
    border-radius: 4px;
    border: 1px solid #a0a0a0;
    background-color: #2A8BDA;
    background: linear-gradient(to right, #2F6192 0%, #4C83BC 50%, #2F6192 100%);
}

.contactUsButton:hover {
    background: linear-gradient(to right, #4C83BC 0%, #2F6192 37%, #4C83BC 100%);
}

.contactUsButton:hover span {
    color: rgb(198, 225, 252) !important;
}

.contactUsButton span {
    font-family: sans-serif;
    font-size: 15px !important;
    color: cornsilk !important;
    margin-right: 100px !important;
}

.updateButton {
    margin-top: 20px;
}

form {
    width: 110%;
}

.inputTextArea {
    height: 175px;
}

.contactTextThree span {
    font-family: sans-serif;
    font-size: 17px;
    color: #a0a0a0;
    margin: 0 0 10px 10px;

}

.updateBloks {
    display: flex;
    border-bottom: 1px dotted #b8b8b8;
    margin-bottom: 35px;
}

.updateBloksShine {
    padding-bottom: 11px;
}


/* FOOTER */
footer {
    margin-top: 30px;
    padding-bottom: 100px;
    background-color: black;
    border-top: 10px solid rgb(51, 51, 51);
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: darkgray;
    font-family: sans-serif;
    border-left: 1px solid darkgray;
    padding: 0 5px;
}

.footer a:hover {
    color: #306294;
}

.footer a:first-child {
    border: none;
    padding-left: 0;
}

.firstallFoot p {
    font-family: sans-serif;
    font-size: 15px;
    color: darkgray;
}

.copyrightFoot p {
    font-family: sans-serif;
    font-size: 15px;
    color: darkgray;
}

.footerNav {
    display: flex;
    margin: 20px 0;

}

.footerNavSec {
    display: flex;


}

.connectInput {
    margin-bottom: 23px;
}

.contButton {
    margin-top: 1px;
}


.barIcon {
    display: none;
}

/* MEDIA */

@media (max-width: 1500px) {
    .container {
        width: 90%;
    }

    .navItem span {
        font-size: 10px;
    }

    .navItem a {
        font-size: 16px;
    }

    /* header .logo {
        width: 20%;

    } */


    header .logo img {
        width: 290px;
        height: 76px;
    }

    .contactUs p {
        font-size: 16px;
    }

    .update span {
        font-size: 16px;
    }
}

@media (max-width: 1155px) {
    .contactUs {
        flex-direction: column;
    }


    .contactUsBloks {
        width: 70%;
        margin: 50px auto;
    }

    .aboutProducts {
        flex-direction: column;
    }

    .aboutProductsBlok {
        width: 70%;
        margin: auto;
    }

    .productPicture {
        width: 350px;
        margin: auto;
    }

    .productsBlokTitle,
    .perfectText {
        text-align: center;
    }

    .aboutProductsBlok .productButton {
        margin: auto;
    }

    .footer {
        display: block;
    }

    .secallFoot {
        margin-top: 50px;
    }

    .secallFoot p {
        font-size: 12px;
    }
}

@media (max-width: 950px) {
    .navIcons {
        width: 100%;
    }

    .barIcon {
        display: block;
        cursor: pointer;
    }

    nav {
        display: none;
    }

    #navigation {
        opacity: 1;
    }
    
    
}




@media (max-width: 720px) {
    .slideShowImage {
        height: 250px;
        width: 90%;
        margin: auto;
    }

    h1 {
        font-size: 28px;
    }

    footer {
        padding-bottom: 50px;
    }

    .SocialConnectionIcons img {
        width: 50px;
        height: 50px;
    }

    .contactUsButton span {
        margin: 0;
    }

}